*.png
Greenfoot - Project Kuliah TI/Fahmi Ardiansyah_4611420003_Game_Semut_FahmiPBO/Fahmi Ardiansyah_4611420003_Game_Semut_FahmiPBO/images/kisspng-ant-u6606u866b-u8682u8681-insect-vector-cartoon-hand-painted-fine-red-ants-5a8b4c78dac4a5.0186878615190785208961.png~
